<section class="app-games">
  <div class="app-games-trophy">
    <a href="http://psnprofiles.com/bill_lord" target="_blank">
      <img class="app-games-trophy-card" src="http://card.psnprofiles.com/1/bill_lord.png" border="0">
    </a>
  </div>
  <div class="app-games-list" infinite-scroll [infiniteScrollDisabled]="scrollDisabled" (scrolled)="onScroll()">
    <md-card class="app-games-list-card" *ngFor="let game of games.items">
      <div class="card-image" [ngStyle]="{'background-color': (game.image | imageHelper:'color')}" md-card-image>
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII="
          [lazyLoad]="(game.image | imageHelper:'url')"
          [alt]="game.title"
          [title]="game.title"
          (click)="goDetail(game.url)"
        >
      </div>
      <md-card-content class="card-caption">
        <div class="card-caption-title">
          <h3 (click)="goDetail(game.url)">{{ game.title }}</h3>
        </div>
        <p>{{ game.name }}</p>
        <div class="card-caption-footer">
          <i [ngStyle]="{'width': (game.rate * 15) + 'px'}">{{ game.rate }}</i>
          <span>{{ game.buy_at | date:"yyyy.MM.dd" }}</span>
        </div>
        <span class="card-caption-end"></span>
      </md-card-content>
    </md-card>
  </div>
  <div class="app-games-loading" [hidden]="hideLoading">
    <md-spinner></md-spinner>
  </div>
  <div class="app-games-error" [hidden]="!error">{{error}}</div>
</section>
