.app-main .mat-sidenav-backdrop {
  background-color: rgba($black, 0.6);
}
.app-sidenav {
  width: 240px;
  background-color: $white;
  box-sizing: border-box;
}
.app-sidenav-list {
  padding: 0;
  list-style: none;
  > li {
    padding: 15px 20px;
    cursor: pointer;
    @include transition(background, 0.3s, ease-in-out);
    &:hover, &.active {
      background-color: #eee;
    }
    > span {
      display: block;
      outline: none;
    }
  }
}
.app-navbar {
  position: relative;
  color: $mountainMist;
  background: transparent;
  z-index: 9999;
  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}
.app-navbar-menu {
  cursor: pointer;
  .material-icons {
    display: block;
  }
}
