.app-main .mat-sidenav-backdrop {
  background-color: rgba($black, 0.6);
}
.app-sidenav {
  padding: 20px;
  width: 240px;
  background-color: $white;
  box-sizing: border-box;
}
.app-navbar {
  position: relative;
  color: $mountainMist;
  background: transparent;
  z-index: 9999;
  .mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}
.app-navbar-menu {
  cursor: pointer;
  .material-icons {
    display: block;
  }
}
