.app-page-loading {
  padding-bottom: 15px;
  .mat-spinner {
    margin: 0 auto;
    width: 50px !important;
    height: 50px !important;
    > svg > path {
      stroke-width: 5px;
    }
  }
}
.app-page-error {
  text-align: center;
}
