<section class="app-hearthstone">
  <div class="app-hearthstone-season" *ngIf="season">
    <h1>{{ season.month | date: "MMMM yyyy" }} Season – {{ season.title }}</h1>
    <p>{{ season.description }}</p>
    <lazy-image [image]="season.image" [text]="season.title" size="rectangle"></lazy-image>
    <div class="app-hearthstone-state">
      <div class="left">{{ wins }} - {{ lose }}</div>
      <div class="middle">
        <span>Rank</span>
        <span>{{ season.rank }}</span>
      </div>
      <div class="right">{{ wins / total | percent: '1.2-2' }}</div>
    </div>
    <hearthstone-matches [type]="'season'" *ngIf="showMatches"></hearthstone-matches>
  </div>
  <div class="app-hearthstone-status">
    <page-status [loading]="loading" [error]="error"></page-status>
  </div>
</section>
