.app-container {
  margin: 0 auto;
  width: 1140px;
  @media #{$screenLaptop} {
    width: 970px;
  }
  @media #{$screenTablet} {
    width: 750px;
  }
  @media #{$screenMobile} {
    padding: 0 15px;
    width: auto;
  }
}
.app-image {
  display: block !important;
  width: 100%;
  opacity: 0;
  @include transition(opacity, 0.3s, ease-in-out);
  &.ng-lazyloaded {
    opacity: 1;
  }
}
