.app-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1140px;
  box-sizing: border-box;
  @media #{$screenLaptop} {
    width: 970px;
  }
  @media #{$screenTablet} {
    width: 750px;
  }
  @media #{$screenMobile} {
    padding: 0 15px;
    width: auto;
  }
}
.app-view-container {
  margin-top: -64px;
  padding-top: 64px;
  min-height: 100vh;
  box-sizing: border-box;
}
