/*-------------------
        Color
--------------------*/
$black: #000;
$white: #fff;

$gray150: #999;

/*-------------------
        Image
--------------------*/
$imagePath        : 'http://7xtddu.com1.z0.glb.clouddn.com';
$socialIcons      : '#{$imagePath}/social_icons.png';