<section class="app-games">
  <div class="app-games-detail" *ngIf="game">
    <div class="app-games-detail-header">
      <lazy-image [image]="game.image" [text]="game.title"></lazy-image>
      <div class="app-games-detail-text">
        <h1>{{ game.title }}</h1>
        <h2>{{ game.name }}</h2>
        <div>
          <span>Release at {{ game.release_at | date: 'MMM dd, yyyy'}}</span>
          <i>/</i>
          <span>Buy at {{ game.buy_at | date: 'MMM dd, yyyy'}}</span>
        </div>
        <p>
          <span class="platform">{{ getPlatform() }}</span>
          <i [hidden]="!trophy">/</i>
          <span class="trophy" *ngIf="trophy">
            {{ trophyCompleted | number: '1.2-2' }}% Trophies Completed
            <i [ngStyle]="{ 'width': (trophyCompleted) + '%' }"></i>
          </span>
        </p>
      </div>
      <div *ngIf="game.rate !== 0" class="app-games-detail-rate">
        <div>{{ game.rate }}</div>
        <p>
          <span>Personal Review</span>
          <i>{{ getRateText() }}</i>
        </p>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle cx="35" cy="35" r="30" [ngStyle]="{ 'stroke-dashoffset': (190 - game.rate / 5 * 190) + 'px' }"></circle>
        </svg>
      </div>
    </div>
    <div class="app-games-detail-body">
      <div class="app-games-detail-description">
        <p *ngFor="let paragraph of game.description.split('\n')">{{ paragraph }}</p>
      </div>
      <ul class="app-games-detail-info">
        <li>
          <span>Developed by:</span>
          <span>{{ game.developer }}</span>
        </li>
        <li>
          <span>Published by:</span>
          <span>{{ game.publisher }}</span>
        </li>
        <li>
          <span>Genre:</span>
          <span>{{ getGenre() }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-games-trophies" *ngIf="game && trophy">
    <div class="app-games-trophies-item" *ngFor="let item of trophy.trophies">
      <div class="body">
        <img [src]="item.image" [alt]="item.title" [title]="item.title" [ngClass]="item.date ? 'earned' : ''"/>
        <div class="text">
          <p>{{ item.title }}</p>
          <span>{{ item.description }}</span>
        </div>
      </div>
      <div class="footer" *ngIf="item.date">Earned at: <span>{{ item.date | date: 'dd MMM yyyy'}}</span></div>
    </div>
  </div>
  <div class="app-games-loading" [hidden]="hideLoading">
    <md-spinner></md-spinner>
  </div>
  <div class="app-games-error" [hidden]="!error">{{error}}</div>
</section>
