.app-container {
  min-height: 100vh;
  .mat-sidenav-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.app-sidenav {
  padding: 20px;
  width: 240px;
  background-color: #fff;
  box-sizing: border-box;
}
.app-navbar {
  color: #9d9d9d;
  border-bottom: 1px solid rgb(8, 8, 8);
  background-color: #222;
}
.app-navbar-menu {
  cursor: pointer;
  .material-icons {
    display: block;
  }
}