<section class="app-gourmets">
  <div class="app-gourmets-title">
    <a href="https://www.instagram.com/bill_lord_z" target="_blank">
      <img
        src="http://7xtddu.com1.z0.glb.clouddn.com/0bf0b9777a775a5c382a1f9c205c52d1.png"
        alt="Gourmet Tour"
        title="Gourmet Tour"
      >
    </a>
  </div>
  <div class="app-gourmets-list" infinite-scroll [infiniteScrollDisabled]="scrollDisabled" (scrolled)="onScroll()">
    <md-card class="app-gourmets-list-card" *ngFor="let gourmet of gourmets.items">
      <lazy-image [image]="gourmet.image" [text]="gourmet.food"></lazy-image>
    </md-card>
  </div>
</section>
