<section class="app-hearthstone-matches">
  <table class="app-hearthstone-matches-table">
    <thead>
    <tr>
      <th>{{ type | capitalize }}</th>
      <th *ngFor="let column of columns" class="table-column-number" [ngClass]="{'table-column-pct': column === 'PCT', 'table-column-total': column === 'total'}">
        {{ column | capitalize }}
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows.slice(0, -1)">
        <td class="table-column-text">
          <span *ngIf="type === 'season'" (click)="goSeason(row.season)">{{ row.season.title }}</span>
          <span *ngIf="type === 'deck'" (click)="goDeck(row.deck)">{{ row.deck.name }}</span>
        </td>
        <td *ngFor="let column of columns" class="table-column-number" [ngClass]="{'table-column-pct': column === 'PCT', 'table-column-total': column === 'total'}">
          <span *ngIf="column === 'PCT'">{{ row[column] | percent: '1.2-2' }}</span>
          <span *ngIf="column !== 'PCT'" class="table-column-number-rate">
            <i>{{ row[column][0] }}</i>
            -
            <i>{{ row[column][1] }}</i>
          </span>
        </td>
      </tr>
      <tr class="table-column-total">
        <td>Total</td>
        <td *ngFor="let column of columns" class="table-column-number" [ngClass]="{'table-column-pct': column === 'PCT', 'table-column-total': column === 'total'}">
          <span *ngIf="column === 'PCT'">{{ rows.slice(-1)[0][column] | percent: '1.2-2' }}</span>
          <span *ngIf="column !== 'PCT'" class="table-column-number-rate">
            <i>{{ rows.slice(-1)[0][column][0] }}</i>
            -
            <i>{{ rows.slice(-1)[0][column][1] }}</i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
