.app-gourmets {
  @extend .app-container;
  background-color: $romance;
}
.app-gourmets-title {
  margin-bottom: 20px;
  text-align: center;
  > a > img {
    width: 100%;
    max-width: 357px;
  }
}
.app-gourmets-list {
  @extend .app-list;
  @media #{$screenDesktop} {
    padding: 0 20px 20px;
  }
  @media #{$screenLaptop} {
    padding: 0 45px 20px;
  }
  @media #{$screenTablet} {
    padding: 0 15px 20px;
  }
}
.app-gourmets-list-card {
  @extend .app-item;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  @media #{$screenTablet} {
    width: 160px;
  }
  @media #{$screenMobile} {
    margin: 10px 0;
    width: calc((100% - 20px) / 2);
    &:nth-child(even) {
      margin-left: 20px;
    }
  }
}
.app-gourmets-list-card .mat-card-header {
  margin: 0;
  padding: 16px;
  height: auto;
  .mat-card-header-text {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    .mat-card-title {
      margin: 0;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}
.app-gourmets-list-card .mat-card-content {
  padding: 16px;
  > p {
    margin-bottom: 5px;
  }
  > span {
    font-size: $fontSizeSmall;
    color: $mountainMist;
  }
}
.app-gourmets-status {
  .app-page-loading .mat-spinner > svg > path {
    stroke: $malta;
  }
  .app-page-error {
    color: $malta;
  }
}
