.app-home {
  position: relative;
  margin-top: -64px;
  width: 100vw;
  overflow: hidden;
  &:hover .app-home-control {
    opacity: 1;
  }
}
.app-home-list {
  position: relative;
  width: 400%;
  height: 100vh;
  overflow: hidden;
  @include transition(all, 0.5s, ease-in-out);
}
.app-home-item {
  float: left;
  position: relative;
  padding: 200px 15px 0;
  width: 25%;
  height: 100%;
  text-align: center;
  background: no-repeat center center fixed;
  background-size: cover;
  box-sizing: border-box;
}
.app-home-item-inner {
  > h1, > h2 {
    margin: 0;
    font-size: 36px;
    color: $white;
  }
  > h2 {
    display: inline-block;
    cursor: pointer;
    &:hover, &:active, &:focus {
      color: darken($white, 10%);
    }
  }
}
.app-home-item-image {
  display: block;
  margin: 0 auto 20px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid $white;
  box-sizing: border-box;
  &.clickable {
    cursor: pointer;
    &:hover, &:active, &:focus {
      border-color: darken($white, 10%);
    }
  }
}
.app-home-item-contacts {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  > li {
    display: inline-block;
    margin: 0 15px;
    > a {
      &:hover, &:focus, &:active {
        > i {
          opacity: 0.8;
        }
      }
      > i {
        display: block;
        width: 50px;
        height: 50px;
        background: url("#{$socialIcons}") no-repeat;
        background-size: 50px;
        &.icon-twitter {
          background-position: 0 0;
        }
        &.icon-github {
          background-position: 0 -51px;
        }
        &.icon-instagram {
          background-position: 0 -102px;
        }
      }
    }
  }
}
.app-home-control {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  color: $white;
  cursor: pointer;
  opacity: 0;
  @include transition(opacity, 0.3s, ease-in-out);
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
  .material-icons {
    width: 50px;
    height: 50px;
    font-size: 50px;
  }
}