.movies__card {
  position: relative;
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 16px;
  padding: 16px;
  @media (min-width: @screen-md) {
    text-align: left;
  }
  @media (max-width: @screen-sm-max) {
    column-gap: 8px;
    padding-left: 70px;
  }
  &-poster {
    position: relative;
    width: 100px;
    @media (min-width: @screen-md) {
      grid-row-start: 1;
    }
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: -24px;
      right: 0;
      margin-top: -1px;
      width: 24px;
      height: 2px;
      background: @movie-text-color;
      content: "";
      @media (min-width: @screen-md) {
        &::after {
          left: -24px;
        }
      }
    }
  }
  &-text {
    color: #14a76c;
    @media (min-width: @screen-md) {
      grid-row-start: 1;
    }
  }
  &-date {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: @movie-text-color;
    @media (max-width: @screen-sm-max) {
      font-size: 32px;
    }
  }
  &-title {
    margin: 8px 0;
    font-size: 24px;
    @media (max-width: @screen-sm-max) {
      font-size: 18px;
    }
  }
  &-ticket {
    margin: 0 4px;
    opacity: 0.3;
    &.active {
      opacity: 1;
    }
    @media (max-width: @screen-md-max) {
      margin: 0 4px;
    }
  }
  &-rate {
    display: flex;
    margin: 0 -4px;
    font-size: 28px;
    @media (max-width: @screen-md-max) {
      margin: 0 -4px;
      font-size: 24px;
    }
  }
  &--left {
    @media (min-width: @screen-md) {
      grid-template-columns: 1fr 100px;
      text-align: right;
      .movies__card-poster {
        grid-column-start: 2;
        grid-column-end: 3;
        &::after {
          left: 100px;
        }
      }
      .movies__card-text {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .movies__card-rate {
        flex-direction: row-reverse;
      }
    }
  }
}