@import './card.less';

@movie-text-color: #ffe400;

.movies {
  position: relative;
  padding-top: 50px;
  @media (max-width: @screen-sm-max) {
    padding-top: 24px;
  }
  &__years {
    margin: 0 -16px;
    border-bottom: 6px solid @movie-text-color;
  }
  &__years-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px 16px;
    max-width: 2240px;
    list-style: none;
    white-space: nowrap;
    overflow: auto;
  }
  &__year {
    position: relative;
    display: block;
    line-height: 32px;
    font-size: 28px;
    color: @movie-text-color;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    &--active {
      border-bottom-color: @movie-text-color;
      &::after {
        display: block;
        position: absolute;
        bottom: -19px;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 18px;
        background: @movie-text-color;
        content: "";
      }
    }
    & + .movies__year {
      margin-left: 24px;
    }
  }
  &__content {
    margin: 0 -16px;
    height: calc(100% - 52px);
    overflow: auto;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    align-items: center;
    position: relative;
    padding-top: 32px;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -6px;
      width: 12px;
      background: @movie-text-color;
      content: "";
      @media (max-width: @screen-sm-max) {
        left: 24px;
        margin-left: 10px;
      }
    }
    &-date {
      padding-right: 16px;
      text-align: right;
      font-size: 40px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: @movie-text-color;
      @media (max-width: @screen-sm-max) {
        font-size: 32px;
      }
    }
  }
}
