@import './card.less';
@import './trophy.less';
@import './rank-item.less';

.games {
  display: grid;
  row-gap: 16px;
  margin: 0 auto;
  max-width: 2240px;
  &__card {
    padding: 16px;
    color: @games-card-text-color;
    border-radius: 4px;
    background: @games-card-background-color;
  }
  &__header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }
  &__pies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    @media (max-width: @screen-sm-max) {
      grid-template-columns: 1fr;
    }
  }
  &__all {
    text-align: center;
  }
  &__link {
    font-size: 20px;
    color: #fff;
  }
  &__summary {
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: 36px;
    padding: 36px 0;
    &-divider {
      height: 1px;
      background: @games-card-border-color;
    }
    &-title {
      margin: 0 0 20px;
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      color: @games-card-title-color;
      &--bottom {
        margin: 20px 0 0;
      }
    }
    &-caption {
      margin: 0;
      padding: 0 24px;
      text-align: center;
      font-size: 48px;
      font-weight: bold;
    }
    &-bar {
      position: relative;
      margin: 0 16px 20px;
      height: 12px;
      border-radius: 20px;
      background: @games-card-border-color;
      overflow: hidden;
    }
    &-progress {
      position: absolute;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 20px;
      background: @games-card-active-color;
      transition: width 0.3s ease-in-out;
    }
  }
  &__rank {
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: 36px;
    padding: 36px 0;
    &-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 16px;
      @media (max-width: @screen-xl-max) {
        grid-template-columns: repeat(4, 1fr);
        > .games-rank-item:last-child {
          display: none;
        }
      }
      @media (max-width: @screen-lg-max) {
        grid-template-columns: repeat(3, 1fr);
        > .games-rank-item:nth-of-type(n+4) {
          display: none;
        }
      }
      @media (max-width: @screen-sm-max) {
        grid-template-columns: 1fr;
        > .games-rank-item:nth-of-type(n+2) {
          display: none;
        }
      }
    }
    &-buttons {
      text-align: center;
    }
    &-button {
      padding: 0 16px;
      line-height: 30px;
      color: @games-card-text-color;
      border: 1px solid @games-card-border-color;
      background: none;
      cursor: pointer;
      &--active, &:hover {
        color: @games-card-active-color;
      }
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      &:not(:first-child) {
        border-left: none;
      }
      @media (max-width: @screen-sm-max) {
        padding: 0 12px;
      }
    }
  }
  &__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    max-width: @img-max-width;
    @media (max-width: .columnLayout(5)[@width]) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: .columnLayout(4)[@width]) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: .columnLayout(3)[@width]) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: .columnLayout(2)[@width]) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: .columnLayout(1)[@width]) {
      grid-template-columns: 1fr;
    }
  }
}
