@import './card.less';
@import './trophy.less';

.games {
  display: grid;
  row-gap: 16px;
  margin: 0 auto;
  max-width: 2240px;
  &__card {
    padding: 16px;
    color: rgba(229, 224, 216, 0.85);
    border-radius: 4px;
    background: #242525;
  }
  &__first-row {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }
  &__second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    column-gap: 16px;
    @media (max-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 16px;
    }
    @media (min-width: 768px) and (max-width: 1000px) {
      > .games__card:last-child {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  &__third-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 16px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }
  }
  &__all {
    text-align: center;
  }
  &__link {
    font-size: 20px;
    color: #fff;
  }
  &__playtime {
    &-title {
      margin: 0;
      text-align: center;
      font-size: 20px;
      font-weight: normal;
      color: rgba(229, 224, 216, 0.45);
    }
    &-caption {
      margin: 36px 0;
      padding: 0 24px;
      text-align: center;
      font-size: 48px;
    }
    &-list {
      margin-bottom: -24px;
      padding: 0;
      list-style: none;
    }
    &-item {
      display: grid;
      grid-template-columns: 20px auto 1fr auto;
      column-gap: 8px;
      align-items: center;
      margin-bottom: 24px;
    }
    &-order {
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: #33404b;
      border-radius: 100%;
    }
    &-order-title {
      margin: 0;
      line-height: 20px;
      font-size: 16px;
    }
  }
  &__rank {
    &-title {
      margin: 0 0 40px;
      font-size: 18px;
      font-weight: normal;
      color: rgba(229, 224, 216, 0.45);
    }
    &-item {
      text-align: center;
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 16px;
      @media (max-width: 1488px) {
        grid-template-columns: repeat(4, 1fr);
        > .games__rank-item:last-child {
          display: none;
        }
      }
      @media (max-width: 1112px) {
        grid-template-columns: repeat(3, 1fr);
        > .games__rank-item:nth-of-type(n+4) {
          display: none;
        }
      }
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        > .games__rank-item:nth-of-type(n+2) {
          display: none;
        }
      }
    }
    &-cover {
      margin: 0 auto 24px;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      overflow: hidden;
      > img {
        width: 100%;
      }
    }
    &-text {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      margin-bottom: 12px;
    }
    &-name {
      margin: 0;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-date {
      font-size: 16px;
    }
    &-time {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px 0 0;
      font-size: 14px;
      > span {
        margin-left: 8px;
      }
    }
  }
  &__list {
    .list-container();
  }
}
